<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>test01.ejs</title>
</head>
<body>
<h1>Welcome!!!!</h1>
<p>전달된 파라미터 정보</p>
이름 <%=name%><br>
전화번호 <%=phone%><br>
주소 <%=addr%><br>
요청결과 <%=code%><br>
</body>
</html>



